/* розділ "Історія" */
.history {
    margin-top: 166px;
}

/* заголовок історії */
.history-title {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #800080;
}

/*опис історії */
.history-desc {
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}

/* числа у розділі "Історія" */
.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #800080;
}

.number-item span {
    display: block;
    color: #000;
    width: 220px;
    margin-right: -10px;
}

/* зображень історії */
.history-images {
    position: relative;
}

.history-holder {
    display: flex;
}

.imgages-1 {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 190px;
    width: 400px;
}

.imgages-2 {
    position: absolute;
    z-index: 12;
    top: -85px;
    left: 490px;
    width: 250px;
}

.imgages-3 {
    position: absolute;
    z-index: 11;
    top: 100px;
    left: 490px;
    width: 250px;
}